{% extends "base.html" %}
{% load static %}


{% block title %}
About Me
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles_about.css' %}">
{% endblock %}
{% block content %}
    <h1>About me</h1>
    <main>


    <div class="background_text">
    <h3>Hello! My name is Artem, I am 15 years old and I am interested in the world of technology and programming. I am currently studying to be a programmer at the GoITeens Academy - a place where I learn something new every day, develop my skills and get closer to my dream. I like to create something of my own: websites, programs, interesting projects - it makes me feel like I am already part of the future.

In addition to studying, I spend my free time actively. One of my favorite activities is basketball. It is not just a sport for me - it is a way to relax, get physical exercise and work in a team. The game helps me maintain a balance between study and rest.

I am sure that programming opens up great opportunities, and I strive to become not just a good specialist, but a real expert in this field. My goal is to create useful products that can change people's lives for the better. There is still a lot of work ahead, but I am ready to learn, develop and achieve my goals.</h3>
        <a href="https://goiteens.com/club/authors/shchesnyak-artem/" class="btn_link">Go to the site about me</a>
    </div>

    </main>

{% endblock %}

