{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About shop</title>
  <link rel="stylesheet" href="{% static 'css/styles_about.css' %}">

</head>
<body>

    <header>
        <h1>GoITeens Shop</h1>
        <nav>
            <ul>
                <li><a href="/main">Home</a> </li>
                <li><a href="#">Shop</a> </li>
                <li><a href="/about">About us</a> </li>
                <li><a href="#">Contact us</a> </li>
            </ul>
        </nav>
    </header>

    <h1>About shop and me</h1>
    <div class="background_text">
        <h3>Hi, my name is Artem, I'm a young programmer (click the button to see info about me).<br>
            I created this cool computer equipment store based on the django framework for practice!</h3>

        <a href="https://goiteens.com/club/authors/shchesnyak-artem/" class="btn">Перейти на сайт</a>
    </div>


</body>
</html>