{% extends "base.html" %}
{% load static %}

{% block title %}
Main
{% endblock %}

{% block extra_css %} {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<main>
<section>
    <h2>New Arrivals</h2>
    <ul>
        {% for item in page_obj %}
            {% if item.is_still_new %}
                <li>
                    <img src="{{ item.photo }}">
                    <h1>{{ item.stuff_name }}</h1>
                    <p>{{ item.stuff_description }}</p>
                    <h2>Ціна: {{ item.price }}</h2>
                    <p>
                    {% for star in stars %}
                        {% if star <= i.rate %}
                        <span class="star">&#9733;</span>
                        {% else %}
                        <span class="star">&#9734;</span>
                        {% endif %}
                    {% endfor %}
                    </p>
                    <button>Add to Cart</button>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    </section>
        <section>
        <h2>All stuff</h2>
        <ul>
        {% for item in page_obj %}
                <li>
                    <img src="{{ item.photo }}">
                    <h1>{{ item.stuff_name }}</h1>
                    <p>{{ item.stuff_description }}</p>
                    <h2>Ціна: {{ item.price }}</h2>
                    <p>
                    {% for star in stars %}
                        {% if star <= i.rate %}
                        <span class="star">&#9733;</span>
                        {% else %}
                        <span class="star">&#9734;</span>
                        {% endif %}
                    {% endfor %}
                    </p>
                    <button>Add to Cart</button>
                </li>
        {% endfor %}
    </ul>
    </section>
</main>
{% endif %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">← Попередня</a>
    {% endif %}

    <span>Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Наступна →</a>
    {% endif %}
</div>
{% endblock %}
