{% extends "base.html" %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login_and_reg.css' %}">
{% endblock %}

{% block content %}
<h1>Login</h1>
<form method="POST">
    {% csrf_token %}
    <div class="login">
            {{ login_form.as_p }}
    </div>
    <div class="button-wrapper">
        <button type="submit" class="create_button">Create</button>
    </div>
    <div class="reset_password">
        <a href="/reset_password/">Forgot your password?</a>
    </div>
</form>
{% endblock %}