{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="https://edu.goiteens.com/" target="_self" title="This is test title"> GoITeens</a>
    <table>
        <tr>
            <th>
                Test1
            </th>
            <th>
                Test2
            </th>
            <th>
                Test3
            </th>

        </tr>
        <tr>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                3
            </td>
        </tr>
    </table>

    <img src="{% static 'monitor.png' %}"       alt="Monitor">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4xDzrJKXOOY?si=yI_Pz7ivN87oEuvQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>
        &#169; 2025 GoITeens
        &copy; 2025 GoITeens
    </p>
</body>
</html>