<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>
                Ім'я
            </th>
            <th>
                Вік
            </th>
            <th>
                Стать
            </th>
        </tr>
        <tr>
            <td>
                Василь
            </td>
            <td>
                21
            </td>
            <td>
                Чоловіча
            </td>
        </tr>
        <tr>
            <td>
                Олексадр
            </td>
        </tr>

    </table>
</body>
</html>