{% load static %}

<form>
    <legend>Personal detail</legend>
    <p>
        <label>
            Звертання:
        </label>
        <select name="salutation">
            <option>
                -- None --
            </option>
            <option>
                Mr.
            </option>
            <option>
                Ms.
            </option>
            <option>
                No Preference
            </option>

        </select>
    </p>
    <p>
        <label>
            Ім'я:
            <input type="text" name="FirstName">
        </label>
    </p>
    <p>
        <label>
            Прізвище:
            <input type="text" name="LastName">
        </label>
    </p>
    <p>
        Стать:
        <label>
            <input type="radio" name="gender" value="male"> Чоловіча
        </label>
        <label>
            <input type="radio" name="gender" value="female"> Жіноча
        </label>
    </p>
    <p>
        <label>
            Пошту:<input type="email" name="email">
        </label>
    </p>
    <p>
         <label>
                Дата народження:<input type="date" name="BirthDate">
         </label>
    </p>
    <p>
         <label>
                Адреса:
             <textarea>
         </label>
    </p>
</form>